*
{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}
.home
{
    width: 100%;

}
.home .top_banner
{
   max-width: 100%;
   height: 550px;
   background: url('http://localhost:3000/images/banner2.png');

}