*
{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}
.home
{
    width: 100%;

}
.home .top_banner
{
   max-width: 100%;
   height: 600px;
   background: url('http://localhost:3000/images/banner4.png');
   background-size: cover;
   background-repeat: no-repeat;
   padding: 50px 60px;
   position: relative;
   overflow: hidden;
   z-index: 1;

}

.home .top_banner .contant
{
    width: 100%;
    position: relative;
    top: 20%;
    padding: 20px 50px;
}